<%- include('partials/header') %> 

    <div class="container text-center">
        <div class="mb-5">
            <h1><i class="fas fa-cat mr-1"></i>Cat Gallery</h1>
        </div>
        <div class="row">
            <img class="col-md-4 offset-4" src="<%= cats.url %> " alt="">
        </div>
        <div class="mt-4">
            <form action="/" method="post">
                <button class="btn btn-success mr-4"><i class="fas fa-thumbs-up mr-1"></i>Upvote</button>
                <button class="btn btn-danger ml-4"><i class="fas fa-thumbs-down mr-1"></i>Downvote</button>
            </form>
        </div>
    </div>

<%- include('partials/footer') %>     